---
layout: conf
title: Conference
---

<div class="conference-pg">

    <div class="masthead">
        <h1>Tech Excellence Conference</h1>

        <h2>Fri 22 Nov 2024 <span>|</span> Live Online</h2>

        <div>
            <a href="https://www.meetup.com/techexcellence/events/301221542/" class="conf-btn" target="_blank" rel="noopener">
                Register
            </a>
    
            <!-- <a href="{{ site.url }}/conf/#sessions" class="conf-btn" rel="noopener">
                Sessions
            </a> -->
        </div>

        <!-- <a href="https://calendar.google.com/calendar/u/0/r/eventedit?text=Tech+Excellence+Conference+2024&dates=20241122T090000Z/20241122T210000Z&details=For+full+details,+including+the+address,+and+to+RSVP+see:+https://www.meetup.com/techexcellence/events/301221542&location=Online+event&sf=true&output=xml" class="conf-btn-2" target="blank">
            Add to calendar
        </a> -->

        <a href="{{ site.url }}/conf/#sessions" class="conf-btn-2" rel="noopener">
            Sessions
        </a>

    </div>

    {% assign conferenceSpeakers = site.data.conf-speakers.list %}

    <div class="container-lg">
        <div class="row">
            {% for conferenceSpeaker in conferenceSpeakers %}
            {% for member in site.members %}
            {% if member.i == conferenceSpeaker.i %}

            <div class="col">
                <a href="{{ member.linkedin }}" target="_blank" rel="noopener">
                    <img src="{{ site.url }}/assets/img/{{ member.i }}.png?v=2" alt="{{ member.name }}" height="120"/>
                    <p class="p-name">
                        {{ member.name }}
                    </p>
                    <p class="p-title">
                        {{ member.title }}
                    </p>
                    <p class="p-date">
                        <span class="material-symbols-outlined">calendar_today</span>
                        {{ conferenceSpeaker.date }}
                    </p>
                </a>
            </div>

            {% endif %}
            {% endfor %}
            {% endfor %}
        </div>
    </div>

    <section id="sessions" class="container lineup">

        <div>
            <h2>Sessions</h2>

            {% assign conferenceSpeakers = site.data.conf-speakers.list %}
    
            <!-- Europe -->
    
            <h3>Europe - Sessions (Online)</h3>

            {% assign sessionZone = "Europe" %}
            {% include loop-sessions-zone.html %}
        </div>

        <div>
            <!-- USA -->
    
            <h3>USA - Sessions (Online)</h3>
    
            {% assign sessionZone = "USA" %}
            {% include loop-sessions-zone.html %}
        </div>

        <div class="an-container d-block text-center">
            <a href="https://www.meetup.com/techexcellence/events/301221542/" class="conf-btn" target="_blank" rel="noopener">
                Register
            </a>
        </div>

    </section>

</div>
