---
layout: default
---

<div id="vision">
    {% include vision.html %}
</div>

<div id="speakers">
    {% include speakers-current.html %}
</div>

<div id="speakers">
    {% include speakers-past.html %}
</div>

<div id="speakers">
    {% include speaker-signup.html %}
</div>

<div id="team">
    {% include team.html %}
</div>

<div id="community">
    {% include community.html %}
</div>

<div id="about">
    {% include about.html %}
</div>

<div id="sponsors">
    {% include sponsors.html %}
</div>

<div id="partners">
    {% include partners.html %}
</div>

<div class="network">
    {% include network.html %}
</div>

<div id="faq">
    {% include incl-faq.html %}
</div>

<div id="faq">
    {% include incl-code-of-conduct.html %}
</div>

<div id="ideas">
    {% include ideas.html %}
</div>