---
layout: home
title:
---

<div class="container-lg vision">
    {% include home-vision.html %}
</div>

<div class="d-flex justify-content-center align-items-center">
    {% include home-conference.html %}
</div>

<div class="container-lg">
    <article id="meetups" class="speakers">
        {% include home-speakers-current.html %}
    </article>
    
    <article class="speakers">
        {% include home-speakers-past.html %}
    </article>
    
    <article class="team">
        {% include home-team.html %}
    </article>
    
    <article class="members">
        {% include home-members.html %}
    </article>
    
    <article class="about">
        {% include home-about.html %}
    </article>
    
    <article class="sponsors">
        {% include home-sponsors.html %}
    </article>
    
    <article class="partners">
        {% include home-partners.html %}
    </article>
    
    <article class="network">
        {% include home-network.html %}
    </article>
    
    <article class="faq">
        {% include home-faq.html %}
    </article>
    
    <article class="speakers">
        {% include home-speaker-signup.html %}
    </article>
    
    <article class="faq">
        {% include home-code-of-conduct.html %}
    </article>
    
    <article class="ideas">
        {% include home-ideas.html %}
    </article>
</div>