<h2>About Us</h2>
        
<!-- TECH EXCELLENCE  -->

<div class="s-container">
    <div class="profile-img">
        <!-- <a href="https://optivem.com/" target="_blank"> -->
            <img src="https://www.techexcellence.io/assets/logo/tech-excellence.png" alt="Tech Excellence" width="252" height="90" />
        <!-- </a> -->
    </div>
    <div class="text-container">
        <p class="p-date">
            <!-- <a href="https://www.techexcellence.io/" target="_blank"> -->
                Tech Excellence
            <!-- </a> -->
        </p>
        <p>
        A community of software developers and engineering leaders who are raising the bar of technical excellence across the world.
        </p>
        <div class="social-media">
            <a href="https://www.linkedin.com/company/techexcellenceio/" target="_blank" rel="noopener"><i class="fab fa-linkedin"></i></a>
        </div>
    </div>
</div>