<section class="container partners">

    <h2>Our Partners</h2>
    
    <div class="an-container">

    {% assign partners = site.data.partners %}
    {% assign companies = site.companies %}

    {% for partner in partners %}
        {% for company in companies %}
        {% if company.i == partner.i %}
            <div class="an-row">

                <div class="an-img">
                    <a href="{{ company.website }}" target="_blank" rel="noopener">
                        <img src="{{ site.url }}/assets/logo/{{ company.i }}.png" alt="{{ company.name }}" width="252" height="90" />
                    </a>
                </div>

                <div class="an-text">
                    <p class="p-date">
                        <a href="{{ company.website }}" target="_blank" rel="noopener">
                            {{ company.name }}
                        </a>
                    </p>
                    <p class="p-about">
                        {{ company.about }}
                    </p>
                    <div class="social-media">
                        <a href="{{ company.linkedin }}" target="_blank" rel="noopener">
                            <i class="fa-brands fa-linkedin"></i>
                        </a>
                        <a href="{{ company.twitter }}" target="_blank" rel="noopener">
                            <i class="fa-brands fa-x-twitter"></i>
                        </a>
                        <a href="{{ company.instagram }}" target="_blank" rel="noopener">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                        <a href="{{ company.medium }}" target="_blank" rel="noopener">
                            <i class="fa-brands fa-medium"></i>
                        </a>
                        <a href="{{ company.youtube }}" target="_blank" rel="noopener">
                            <i class="fa-brands fa-youtube"></i>
                        </a>
                        <a href="{{ company.website }}" target="_blank" rel="noopener">
                            <i class="fa fa-globe"></i>
                        </a>
                    </div>
                </div>

            </div>
            {% endif %}
        {% endfor %}
    {% endfor %}

    </div>

</section>

