<h2>About Us</h2>

<!-- TECH EXCELLENCE    -->

<div class="s-container">
    <div class="profile-img comp-img">
        <img src="{{ site.url }}/assets/logo/tech_excellence.png" alt="Tech Excellence" width="252" height=""/>
    </div>
    <div class="text-container">
        <p>
            A community of software developers and engineering leaders who are raising
            the bar of technical excellence across the world.
        </p>
        <div class="social-media">
            <a href="https://www.youtube.com/c/TechExcellence" target="_blank" rel="noopener">
                <i class="fab fa-youtube"></i>
            </a>
            <a href="https://www.meetup.com/techexcellence/" target="_blank" rel="noopener">
                <i class="fab fa-meetup"></i>
            </a>
            <a href="https://www.linkedin.com/company/techexcellenceio/" target="_blank" rel="noopener">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://twitter.com/techexcellence_" target="_blank" rel="noopener">
                <i class="fa-brands fa-x-twitter"></i>
            </a>
            <a href="https://github.com/techexcellenceio" target="_blank" rel="noopener">
                <i class="fab fa-github"></i>
            </a>
        </div>
    </div>
</div>
