<section class="container members">

    <h2>Our Members</h2>

    {% assign membersC = site.data.members.list %}
    <a href="{{ site.url }}/members">
        <div class="row">

        {% for memberC in membersC %}
            {% for member in site.members %}
                {% if member.i == memberC.i %}

                <div class="col">
                    <img src="{{ site.url }}/assets/img/{{ member.i }}.png?v=2" alt="{{ member.name }}" width="100" height="100" />
                    <p class="p-name">
                        {{ member.name }}
                    </p>
                </div>

                {% endif %}
            {% endfor %}
        {% endfor %}

        </div>

        <p class="see-more">See more...</p>

    </a>
  
</section>
