<section class="container faq">

    <div>
        <h2>FAQ</h2>

        <a class="gray-btn" href="{{ site.url }}/faq">
            Frequently asked questions
        </a>
    </div>
    

    <!-- Speaker signup -->
    <div>
        <h2>Speaker RFP</h2>

        <a class="gray-btn" href="https://docs.google.com/forms/d/e/1FAIpQLSewaFClcpkx-lmEdYaELKjt-bToK69Elr3m5PArkeVf7iVGxw/viewform" target="_blank" rel="noopener">
            Interested in being a speaker?
        </a>
    </div>


    <div>
        <h2>Code of conduct</h2>

        <a class="gray-btn" href="{{ site.url }}/code-of-conduct">
            Code of conduct
        </a>
    </div>


    <div>
        <h2>Ideas</h2>
            
        <p>Do you have any questions or ideas? Feel free to start a discussion on <a href="https://github.com/techexcellenceio/community/discussions" target="_blank" rel="noopener">Discussions</a></p>
    
        <p><em>Disclaimer: Some of our speakers may present code demos during the meetup sessions. Please note that any code shown during any meetups is for educational purposes only.</em></p>
    </div>

</section>

