<div id="conference" class="g-container">
    <div class="conference-promo">
        <p>Tech <br class="br-2"/>
            Excellence<br class="br-1"/>
            Conference
        </p>
    </div>

    <div class="dates">
        <p>Fri 22 Nov 2024</p>
        <p>&bull;</p>
        <p>Live Online</p>
    </div>

    <div class="">
        <button class="c-btn">
            <a href="https://www.meetup.com/techexcellence/events/301221542/" target="_blank" rel="noopener" >
                Register
            </a>
        </button>

        <button class="c-btn">
            <a href="{{ site.url }}/conf/#sessions" rel="noopener">
                Sessions
            </a>
        </button>
    </div>


    {% assign conferenceSpeakers = site.data.conference-speakers.list %}
                
    <div class="c-container">
        <div class="row">

            {% for conferenceSpeaker in conferenceSpeakers %}
            {% for member in site.members %}
            {% if member.i == conferenceSpeaker.i %}

            <div class="col">
                <a href="{{ member.linkedin }}" target="_blank" rel="noopener">
                    <div class="img-container">
                        <img src="{{ site.url }}/assets/img/{{ member.i }}.png?v=2" alt="{{ member.name }}" width="128" height="128" />
                    </div>
                    <p class="p-name">
                        {{ member.name }}
                    </p>
                </a>
            </div>

            {% endif %}
            {% endfor %}
            {% endfor %}

        </div>
    </div>

    <!-- <p class="conf-disclaimer">
        Note: We are forming our speaker list during Jan/Feb 2024, the following reflects current speakers <br />
        who are planning to speak. 
        We'll further update this section with session slots.
    </p> -->

</div>

