<div id="conf-main" class="">
  <div class="masthead">
    <div class="conference-promo">
      <!-- TE Conference 2024 -->
      <p>Tech <br class="br-2"/>
          Excellence<br class="br-1"/>
          Conference
      </p>
    </div>

    <div class="dates">
        <p>Fri 22 Nov 2024</p>
        <!-- <p>—</p> -->
        <p>|</p>
        <!-- <p>&middot;</p> -->
        <p>Live Online</p>
    </div>

    <button href="https://www.meetup.com/techexcellence/events/301221542/" target="_blank" rel="noopener" class="c-btn">Register</button>

    <button href="{{ site.url }}/conf/#sessions" rel="noopener" class="c-btn c-btn-secondary">Sessions</button>
  </div>


  {% assign conferenceSpeakers = site.data.conference-speakers.list %}
              
  <div class="container-xl c-container d-none">
      <div class="row">

          {% for conferenceSpeaker in conferenceSpeakers %}
          {% for member in site.members %}
          {% if member.i == conferenceSpeaker.i %}

          <div class="col">
              <a href="{{ member.linkedin }}" target="_blank" rel="noopener">
                  <img src="{{ site.url }}/assets/img/{{ member.i }}.png?v=2" alt="{{ member.name }}" width="120" height="120" />
              </a>
              <div class="text-container">
                  <p class="p-name">
                      <a href="{{ member.linkedin }}" target="_blank" rel="noopener">
                          {{ member.name }}
                      </a>
                  </p>
                  <p class="p-title">
                      {{ member.title }}
                  </p>
                  <!-- <p class="p-talk">
                    {{ conferenceSpeaker.title }} 
                  </p> -->
                  <p class="p-date">
                      <span class="material-symbols-outlined">
                          calendar_today
                      </span>

                      {{ conferenceSpeaker.date }}
                  </p>
              </div>
          </div>

          {% endif %}
          {% endfor %}
          {% endfor %}

      </div>
  </div>



  <article id="sessions" class="container-lg lineup">
  
    <h1>Sessions</h1>


    <!-- Europe -->

    <h2 class="">Europe - Sessions (Online)</h2>

       
    {% assign conferenceSpeakers = site.data.conference-speakers.list %}

    {% for conferenceSpeaker in conferenceSpeakers %}
    {% for member in site.members %}
    {% if member.i == conferenceSpeaker.i %}
    {% if conferenceSpeaker.zone == "Europe" %}
    <div class="s-container">
      <div class="row img-c">



        <div class="col profile-img">

          <a href="{{ member.linkedin }}" target="_blank" rel="noopener">
            <img src="{{ site.url }}/assets/img/{{ member.i }}.png?v=2" alt="{{ member.name }}" width="90" height="90" />
          </a>

        </div>

      </div>


      <div class="col text-container">
        <!-- <p class="p-title">
            {{ member.title }}
        </p>    -->
        <p class="p-date">
          <span class="material-symbols-outlined">
              calendar_today
          </span>
          {{ conferenceSpeaker.date }}
        </p>

        <p class="p-talk">
          {{ conferenceSpeaker.title }} 
        </p>
        <p class="p-name">
          <a href="{{ member.linkedin }}" target="_blank" rel="noopener">
              {{ member.name }}
          </a>
        </p>
        <p class="p-title">
          {{ member.title }}
        </p>
      </div>

    </div>
    
    {% endif %}
    {% endif %}
    {% endfor %}
    {% endfor %}





    <!-- USA -->

    <h2 style="margin-top: 4rem">USA - Sessions (Online)</h2>

    {% for conferenceSpeaker in conferenceSpeakers %}
    {% for member in site.members %}
    {% if member.i == conferenceSpeaker.i %}
    {% if conferenceSpeaker.zone == "USA" %}
    <div class="s-container">
      <div class="row img-c">



        <div class="col profile-img">

          <a href="{{ member.linkedin }}" target="_blank" rel="noopener">
            <img src="{{ site.url }}/assets/img/{{ member.i }}.png?v=2" alt="{{ member.name }}" width="90" height="90" />
          </a>

        </div>

      </div>


      <div class="col text-container">
        <!-- <p class="p-title">
            {{ member.title }}
        </p>    -->
        <p class="p-date">
          <span class="material-symbols-outlined">
              calendar_today
          </span>
          {{ conferenceSpeaker.date }}
        </p>

        <p class="p-talk">
          {{ conferenceSpeaker.title }} 
        </p>
        <p class="p-name">
          <a href="{{ member.linkedin }}" target="_blank" rel="noopener">
              {{ member.name }}
          </a>
        </p>
        <p class="p-title">
          {{ member.title }}
        </p>
      </div>

    </div>

    {% endif %}
    {% endif %}
    {% endfor %}
    {% endfor %}


  </article>

</div>

