<div class="anastasia-container">

    {% for conferenceSpeaker in conferenceSpeakers %}
    {% for member in site.members %}
    {% if member.i == conferenceSpeaker.i %}
    {% if conferenceSpeaker.zone == sessionZone %}

    <div class="anastasia-row">
        <div class="anastasia-img">
            <a href="{{ member.linkedin }}" target="_blank" rel="noopener">
                <img src="{{ site.url }}/assets/img/{{ member.i }}.png?v=2" alt="{{ member.name }}" width="120" height="120" />
            </a>
        </div>

        <div class="anastasia-text">
            <p class="p-date">
                <span class="material-symbols-outlined"> calendar_today </span>
                {{ conferenceSpeaker.date }}
            </p>

            <p class="p-talk">{{ conferenceSpeaker.title }}</p>
            <p class="p-name">
                <a href="{{ member.linkedin }}" target="_blank" rel="noopener">
                    {{ member.name }}
                </a>
            </p>
            <p class="p-title">{{ member.title }}</p>
        </div>
    </div>

    {% endif %}
    {% endif %}
    {% endfor %}
    {% endfor %}

</div>