<!-- If you want to add yourself to the list, see the Template at the bottom of this pge, and fil in your details-->

<h2>Overview</h2>

<div class="s-container" style="margin-bottom: 5rem;">
    <p>
        This page contains our members, people who care about and practice Technical Excellence. 
        We're comprised of Technical Coaches and Trainers, Engineering Leaders, Software Developers, and more. 
        You can become a member by adding yourself to this list and making a PR. 
        If you're a company and would like your organization to be added, then please 
        <a href="https://www.linkedin.com/in/valentinacupac/" target="_blank">send a message to Valentina </a>
        with details about your company.
    </p>
</div>

<!-- VALENTINA -->
<div class="s-container">
    <img src="https://www.techexcellence.io/assets/img/valentina-cupac.png" alt="valentina-cupac" class="profile-img" width="100" height="100" />
    <div class="text-container">
        <p class="name">Valentina Cupać</p>
        <p class="title">
            Technical Coach & Consultant @ OPTIVEM
        </p>
        <p class="about">
            Helping backend development teams to deliver quality software faster with TDD, Clean Architecture & Clean Code | Helping Engineering Leaders build a culture of Technical Excellence
        </p>
        <p class="location">
            Belgrade, Serbia
        </p>
        <p class="specialities">
            <span>TDD</span>
            <span>Clean Code</span>
            <span>Clean Architecture</span>
            <span>Hexagonal Architecture</span>
            <span>Microservices</span>
            <span>Refactoring</span>
            <span>Continuous Delivery</span>
            <span>Pair Programming</span>
            <span>Mob Programming</span>
            <span>XP</span>
        </p>
        <p class="tech-stack">
            Tech Stack: Java, .NET, NodeJS, Python, C/C++
        </p>
        <div class="social-media">
            <a href="https://www.linkedin.com/in/valentinacupac" target="_blank" rel="noopener"><i class="fab fa-linkedin"></i></a>
            <a href="https://twitter.com/ValentinaCupac" target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a>
            <a href="https://optivem.com/" target="_blank" rel="noopener"><i class="fa fa-globe"></i></a>

        </div>
    </div>
</div>


<!-- TEMPLATE -->
<!--<div class="s-container">
    <img src="https://www.techexcellence.io/assets/img/name-lastname.png" alt="name-lastname" class="profile-img" width="100" height="100" />
    <div class="text-container">
        <p class="name">
            {Your name}
        </p>
        <p class="title">
            {Position} @ {Company}
        </p>
        <p class="about">
            {Summary}
        </p>
        <p class="location">
            {City}, {Country}
        </p>
        <p class="specialities">
            <span>{1}</span>
            <span>{2}</span>
            <span>{3}</span>
            <span>{4}</span>
            <span>{5}</span>
            <span>{6}</span>
            <span>{7}</span>
            <span>{8}</span>
            <span>{9}</span>
            <span>{10}</span>
        </p>
        <p class="tech-stack">
            Tech Stack: {list....}
        </p>
        <div class="social-media">
            <a href="{link}" target="_blank" rel="noopener"><i class="fab fa-linkedin"></i></a>
            <a href="{link}" target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a>
            <a href="{link}" target="_blank" rel="noopener"><i class="fa fa-globe"></i></a>
        </div>
    </div>
</div>

Example:
First Name = Valentina
Last Name = Cupać
LinkedIn (icon with link) = <link>
Twitter (icon with link) = <link>
Website (icon with link) = <link to Optivem>
Position = Technical Coach & Consultant
Company = Optivem
Summary (Max 250 words) = Helping backend development teams to deliver quality software faster with TDD, Clean Architecture & Clean Code | Helping Engineering Leaders build a culture of Technical Excellence
City = Belgrade
Country = Serbia
Specialties (Max 10 specialties) = TDD, Clean Code, Clean Architecture, Hexagonal Architecture, DDD, Microservices, Refactoring, Continuous Delivery, Pair Programming, Mob Programming, XP
Tech Stack (Max 10) = Java, .NET, NodeJS, Python, C/C++
-->


