<nav class="navbar navbar-expand-lg navbar-light s-navbar fixed-top">
  <div class="navbar-container">



    <a href="{{ site.url }}/" class="navbar-brand" rel="noopener">
      <img src="{{ site.url }}/assets/te_logo.svg" alt="{{ Tech Excellence }}" width="" height="60" />
    </a>



    <!-- <a href="{{ site.url }}/" target="_blank" rel="noopener">
      <img src="{{ site.url }}/assets/banner-text-1.svg" alt="{{ Tech Excellence }}" width="252" height="90" />
    </a> -->


    <!-- <a href="{{ site.url }}/" target="_blank" rel="noopener">
      <img src="{{ site.url }}/assets/logo_text_horiz.svg" alt="{{ Tech Excellence }}" width="252" height="90" />
    </a> -->

    

    <!-- <button class="navbar-toggler" id="navbar-toggler">
        <span class="navbar-toggler-icon">&#9776;</span>
    </button> -->

    <div class="navbar-menu" id="navbar-menu">
        <a href="{{ site.url }}" class="navbar-link">Home</a>
        <a href="{{ site.url }}/conf" class="navbar-link">Conference</a>
        <!-- <a href="{{ site.url }}/#meetups" class="navbar-link">Meetups</a> -->
        <!-- <a href="{{ site.url }}/#members" class="navbar-link">Members</a> -->
        <!-- <a href="#" class="navbar-link">About</a> -->
        <!-- <a href="#" class="navbar-link">Contact</a> -->
    </div>

  </div>
</nav>