<nav class="navbar navbar-expand-sm navbar-dark fixed-top">
    <div class="navbar-container">

        <a href="{{ site.url }}/" class="navbar-brand" rel="noopener">
            <img src="{{ site.url }}/assets/te_logo.svg" alt="{{ Tech Excellence }}" width="" height="60" />
        </a>

        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>           
            <span class="close"><i class="bi bi-x"></i></span>
        </button>

        <div class="navbar-menu collapse navbar-collapse" id="navbarNavDropdown">
            <a href="{{ site.url }}" class="navbar-link">Home</a>
            <a href="{{ site.url }}/conf" class="navbar-link">Conference</a>
            <a href="{{ site.url }}/#meetups" class="navbar-link">Meetups</a>
            <a href="{{ site.url }}/members" class="navbar-link">Members</a>
            <a href="{{ site.url }}/network" class="navbar-link">Network</a>
            <!-- <a href="#" class="navbar-link">About</a> -->
            <!-- <a href="#" class="navbar-link">Contact</a> -->
        </div>
    </div>
</nav>
