<h2>Our Network</h2>

<!-- Optivem - Valentina Cupać -->
<div class="s-container">
  <div class="profile-img">
      <a href="https://optivem.com/" target="_blank">
          <img src="https://www.techexcellence.io/assets/logo/optivem.png" alt="Optivem" width="252" height="90" />
      </a>
  </div>
  <div class="text-container">
  <p class="p-date">
    <a href="https://optivem.com/" target="_blank">Optivem</a> -
    <a href="https://www.linkedin.com/in/valentinacupac/" target="_blank">Valentina Cupać</a>
  </p>
  <p>
    Better Software Faster: Helping backend development teams deliver quality software faster with TDD, Clean Architecture & Clean Code
  </p>
  <div class="social-media">
      <a href="https://www.linkedin.com/company/optivem" target="_blank" rel="noopener"><i class="fab fa-linkedin"></i></a>
  </div>
  </div>
</div>

<!-- WealCome - Michaël Azerhad   -->
<div class="s-container">
    <div class="profile-img">
        <a href="https://wealcomecompany.com/" target="_blank">
            <img src="https://www.techexcellence.io/assets/logo/wealcome.png" alt="Wealcome" width="252" height="90" />
        </a>
    </div>
    <div class="text-container">
    <p class="p-date">
      <a href="https://wealcomecompany.com/" target="_blank">WealCome</a> - 
      <a href="https://www.linkedin.com/in/micha%C3%ABl-azerhad-9058a044/" target="_blank">Michaël Azerhad</a>
    </p>
    <p>
        Software craftsmanship is in our genes: we create your software from A to Z and offer training services
    </p>
    <div class="social-media">
        <a href="https://www.linkedin.com/company/wealcomecompany/" target="_blank" rel="noopener"><i class="fab fa-linkedin"></i></a>
    </div>
    </div>
</div>

 



<!-- Alcor Academy - Marco Consolaro & Alessandro Di Gioia -->
<div class="s-container">
    <div class="profile-img">
        <a href="https://alcor.academy/" target="_blank">
            <img src="https://www.techexcellence.io/assets/logo/alcor-academy.png" alt="Alcor Academy" width="252" height="90">
        </a>
    </div>
    <div class="text-container">
      <p class="p-date">
        <a href="https://alcor.academy/" target="_blank">Alcor Academy</a> - 
        <a href="https://www.linkedin.com/in/consolaro/" target="_blank">Marco Consolaro</a> & 
        <a href="https://www.linkedin.com/in/alessandro-di-gioia/" target="_blank">Alessandro Di Gioia</a>
      </p>
      <p>
        Promote a Culture of Excellence in your Software Engineering Teams with our INNOVATIVE socio-technical training
      </p>
      <div class="social-media">
        <a href="https://www.linkedin.com/company/alcor-academy/" target="_blank" rel="noopener"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
</div>
  
  
<!-- SoCraDev Sarl - Alexandre Cuva  -->
<div class="s-container">
    <div class="profile-img">
        <a href="https://socradev.ch" target="_blank">
            <img src="https://www.techexcellence.io/assets/logo/socradev.png" alt="SoCraDev" width="252" height="90">
        </a>
    </div>
    <div class="text-container">
        <!-- TODO check name -->
      <p class="p-date">
        <a href="https://socradev.ch" target="_blank">SoCraDev</a> - 
        <a href="https://www.linkedin.com/in/cuvaalex/" target="_blank">Alexandre Cuva</a>
      </p>
      <p>
        We turn your legacy system into a modern and scalable digital experience without the high risks of making new software
      </p>
      <div class="social-media">
        <a href="https://www.linkedin.com/company/socradev" target="_blank" rel="noopener"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
</div>
  
  

<!-- Yoan Thirion Technical Coaching - Yoan Thirion -->
<div class="s-container">
    <div class="profile-img">
        <a href="https://www.yoan-thirion.com/" target="_blank">
            <img src="https://www.techexcellence.io/assets/logo/yoan-thirion-freelance.png" alt="Yoan Thirion" width="252" height="90">
        </a>
    </div>
    <div class="text-container">
      <p class="p-date">
        <a href="https://www.yoan-thirion.com/" target="_blank">Yoan Thirion Technical Coaching</a> - 
        <a href="https://www.linkedin.com/in/yoanthirion/" target="_blank">Yoan Thirion</a>
      </p>
      <p>
        I coach teams get better at software delivery through Agile & Craft practices
        <!-- Because there is no agility without technical excellence. -->
      </p>
      <div class="social-media">
        <a href="https://www.linkedin.com/company/yoan-thirion-freelance/" target="_blank" rel="noopener"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
</div>
  

<!-- TODO missing -->
<!-- https://craftacademy.substack.com/about -->
<!-- https://craftacademy.fr/courses/1321076/lectures/30329473 -->
<!-- CraftAcademy - Pierre Criulanscy --> <!-- LinkedIn page and website missing  -->
<div class="s-container">
    <div class="profile-img">
        <a href="https://www.linkedin.com/in/pierre-criulanscy/" target="_blank">
            <img src="https://www.techexcellence.io/assets/logo/craft-academy.png" alt="CraftAcademy" width="252" height="90">
        </a>
    </div>
    <div class="text-container">
      <p class="p-date">
        <a href="https://www.linkedin.com/in/pierre-criulanscy/" target="_blank">CraftAcademy</a> - 
        <a href="https://www.linkedin.com/in/pierre-criulanscy/" target="_blank">Pierre Criulanscy</a>
      </p>
      <p>
        Passionate about TDD, Crafter & Trainer - craftacademy.fr
        <!-- I help developers to understand good development practices as early as possible in their career, even if it's never too late! -->
      </p>
      <div class="social-media">
        <a href="https://www.linkedin.com/in/pierre-criulanscy/" target="_blank" rel="noopener"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
</div>


  
<!-- On Test Automation - Bas Dijkstra  -->
<div class="s-container">
    <div class="profile-img">
        <a href="https://www.ontestautomation.com/training" target="_blank">
            <img src="https://www.techexcellence.io/assets/logo/on-test-automation.png" alt="On Test Automation" width="252" height="90">
        </a>
    </div>
    <div class="text-container">
      <p class="p-date">
        <a href="https://www.ontestautomation.com/training" target="_blank">On Test Automation</a> - 
        <a href="https://www.linkedin.com/in/basdijkstra/" target="_blank">Bas Dijkstra</a>
      </p>
      <p>
        Helping individuals, teams and organizations improve their test automation efforts
        <!-- through smart application of tools. -->
      </p>
      <div class="social-media">
        <a href="https://www.linkedin.com/company/on-test-automation" target="_blank" rel="noopener"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
</div>


<!-- Beyond Agility - Peter Gfader -->
<div class="s-container">
  <div class="profile-img">
      <a href="https://beyond-agility.com/" target="_blank">
          <img src="https://www.techexcellence.io/assets/logo/beyond-agility.png" alt="Beyond Agility" width="252" height="90">
      </a>
  </div>
  <div class="text-container">
    <p class="p-date">
      <a href="https://beyond-agility.com/" target="_blank">Beyond Agility</a> - 
      <a href="https://www.linkedin.com/in/petergfader/" target="_blank">Peter Gfader</a>
    </p>
    <p>
      We help your teams to discover better ways to build products and software with tools in testing, engineering and lots of automation.
    </p>
    <div class="social-media">
      <a href="https://www.linkedin.com/company/beyond-agility/" target="_blank" rel="noopener"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>
</div>

<!-- Becoming.Tech - Rodislav -->
<div class="s-container">
  <div class="profile-img">
      <a href="https://becoming.tech/" target="_blank">
          <img src="https://www.techexcellence.io/assets/logo/becoming-tech.png" alt="Becoming.Tech" width="252" height="90">
      </a>
  </div>
  <div class="text-container">
    <p class="p-date">
      <a href="https://becoming.tech/" target="_blank">Becoming.Tech</a> - 
      <a href="https://www.linkedin.com/in/rodislav/" target="_blank">Rodislav Moldovan</a>
    </p>
    <p>
      Becoming.Tech is the home of the cost-effective software.
    </p>
    <div class="social-media">
      <a href="https://www.linkedin.com/company/becomingtech/" target="_blank" rel="noopener"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>
</div>



<!-- Daniel Moka -->
<!-- MokaIT - no website or logo yet -->
<!-- https://www.linkedin.com/company/mokait/ -->
<div class="s-container">
  <div class="profile-img">
      <a href="https://www.danielmoka.com/" target="_blank">
          <img src="https://www.techexcellence.io/assets/logo/daniel-moka.png" alt="Daniel Moka" width="252" height="90">
      </a>
  </div>
  <div class="text-container">
    <p class="p-date">
      <a href="https://www.danielmoka.com/" target="_blank">Daniel Moka Software Craftsmanship</a> - 
      <a href="https://www.linkedin.com/in/danielmoka/" target="_blank">Daniel Moka</a>
    </p>
    <p>
      I help you to build better and elegant software by using design principles & programming disciplines
    </p>
    <div class="social-media">
      <a href="https://www.linkedin.com/in/danielmoka/" target="_blank" rel="noopener"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>
</div>





<!-- TODO: FUTURE -->


<!-- TODO: SKIP This now, we'll add after email responses -->

<!-- Digital Exprt - Alex Bunardzic...   -->

<!-- Use his LinkedIn link https://www.linkedin.com/in/alexbunardzic/ -->

<!-- TODO: Add others from US / Canada -->
  
  
  

