<h2>Our Team</h2>

<!-- <div class="s-container">
    <p>
        <a href="https://www.linkedin.com/in/valentinacupac/" target="_blank">Valentina Cupać</a>
        , Founder &amp; Organizer @ Tech Excellence
    </p>

    <p>
        <a href="https://www.linkedin.com/in/jelenacupac/" target="_blank">Jelena Cupać</a>
        , Designer @ Tech Excellence
    </p>
</div> -->


<!-- VALENTINA -->
<div class="s-container">
    <img src="https://www.techexcellence.io/assets/img/valentina-cupac.png" alt="valentina-cupac" class="profile-img" width="100" height="100" />
    <div class="text-container">
        <p class="p-title">Valentina Cupać - Founder & Organizer @ Tech Excellence</p>
        <p class="p-about">
            Technical Coach | Helping backend development teams to deliver quality software faster with TDD, Clean Architecture & Clean Code | 
            Helping Engineering Leaders build a culture of Technical Excellence
            <!-- I help Tech Founders and Engineering Leaders deliver quality software faster. -->
            <!-- Technical Coach | Helping backend development teams to deliver quality software faster with TDD, Clean Architecture & Clean Code -->
        </p>
        <div class="social-media">
            <a href="https://www.linkedin.com/in/valentinacupac" target="_blank" rel="noopener"><i class="fab fa-linkedin"></i></a>
            <a href="https://twitter.com/ValentinaCupac" target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a>
            <a href="https://github.com/valentinacupac" target="_blank" rel="noopener"><i class="fab fa-github"></i></a>
            <a href="https://www.xing.com/profile/Valentina_Cupac" target="_blank" rel="noopener"><i class="fab fa-xing"></i></a>
        </div>
    </div>
</div>

<!-- JELENA -->
<!-- <div class="s-container">
    <img src="https://www.techexcellence.io/assets/img/jelena-cupac.png" alt="jelena-cupac" class="profile-img" width="100" height="100" />
    <div class="text-container">
        <p class="p-title">Co-Organizer & Designer @ Tech Excellence - Jelena Cupać</p>
        <p class="p-about">
            Helping software product companies design successful digital products through Digital Product Design and UX/UI Design. 
            Analyzed business needs and target users, focusing on user experience and software usability. 
            Design thinking, user flows, wireframing and prototyping; applied low-fidelity design (Marvel, Balsamiq) and high-fidelity design (Figma) 
            including responsive design. Modelled and optimized processes using BPMN to help automate processes as well as detailed process documentation. 
        </p>
        <div class="social-media">
            <a href="https://www.linkedin.com/in/jelenacupac/" target="_blank" rel="noopener"><i class="fab fa-linkedin"></i></a>
            <a href="https://twitter.com/cupac_jelena" target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a>
            <a href="https://github.com/jcupac" target="_blank" rel="noopener"><i class="fab fa-github"></i></a>
            <a href="https://www.xing.com/profile/Jelena_Cupac" target="_blank" rel="noopener"><i class="fab fa-xing"></i></a>
        </div>
    </div>
</div> -->

<!-- DANIEL -->
<div class="s-container">
    <img src="https://www.techexcellence.io/assets/img/daniel-moka.png" alt="daniel-moka" class="profile-img" width="100" height="100" />
    <div class="text-container">
        <p class="p-title">Daniel Moka - Co-host @ Tech Excellence</p>
        <p class="p-about">

            Software Engineer | Raising the software quality standards worldwide | TDD & Clean Code & best practices | .NET & Rust & JS/TS

            <!-- My main goal is to make the customer happy by producing quality software with the best software engineering practices. I am a big fan of Extreme Programming and Test-Driven Development, and interested in everything that helps me to write better and more elegant software. I have demonstrated that I have a strong ability to educate and mentor others in the field to fulfill their potential and to deepen my knowledge. -->

            <!-- I am a software engineer and my main goal is to make the customer happy by producing quality software with the best software engineering practices. -->
        </p>
        <div class="social-media">
            <a href="https://www.linkedin.com/in/danielmoka/" target="_blank" rel="noopener"><i class="fab fa-linkedin"></i></a>
            <a href="https://twitter.com/dmokafa" target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a>
        </div>
    </div>
</div>

<!-- OLIVER -->
<div class="s-container">
    <img src="https://www.techexcellence.io/assets/img/oliver-zihler.png" alt="oliver-zihler" class="profile-img" width="100" height="100" />
    <div class="text-container">
        <p class="p-title">Oliver Zihler - Co-host @ Tech Excellence</p>
        <p class="p-about">

            eXtreme Programmer & Software Crafter | Software Design & DDD | Agile Development
            <!-- Talks about #softwaredesign, #agiledevelopment, #domaindrivendesign, #extremeprogramming, and #softwarecraftsmanship -->
            <!-- I work constantly towards a software engineering world where work is enjoyable and sustainable, code is easy to read and extend, and agile practices produce the highest customer value possible. -->

        </p>
        <div class="social-media">
            <a href="https://www.linkedin.com/in/oliver-zihler-9b92471a5/" target="_blank" rel="noopener"><i class="fab fa-linkedin"></i></a>
            <!-- <a href="" target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a> -->
        </div>
    </div>
</div>



<!-- ILIAS -->
<div class="s-container">
    <img src="https://www.techexcellence.io/assets/img/ilias-el-mhamdi.png" alt="ilias-el-mhamdi" class="profile-img" width="100" height="100" />
    <div class="text-container">
        <p class="p-title">Ilias El-Mhamdi - Writer @ Tech Excellence</p>
        <!-- <p class="p-about">
            About...
        </p> -->
        <div class="social-media">
            <a href="https://www.linkedin.com/in/ilias-el-mhamdi-72a013146/" target="_blank" rel="noopener"><i class="fab fa-linkedin"></i></a>
            <!-- <a href="https://twitter.com/IliasElMhamdi" target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a> -->
        </div>
    </div>
</div>
