<h2>Our Partners</h2>
        
<!-- QE UNIT -->
<div class="s-container">
    <div class="profile-img">
        <a href="https://qeunit.com/" target="_blank">
            <img src="{{ site.url }}/assets/logo/qe-unit.png" alt="QE Unit" width="252" height="90" />
        </a>
    </div>
    <div class="text-container">
        <p class="p-date">
            <a href="https://qeunit.com/" target="_blank">QE Unit: The Quality Engineering Community</a>
        </p>
        <p>
            We are an extended community of practice dedicated to one thing: succeed with Quality at Speed software
        </p>
        <div class="social-media">
            <a href="https://www.linkedin.com/company/qe-unit/" target="_blank" rel="noopener"><i class="fab fa-linkedin"></i></a>
            <a href="https://twitter.com/unit_quality" target="_blank" rel="noopener"><i class="fab fa-twitter"></i></a>
            <a href="https://www.instagram.com/qualityengineeringunit/" target="_blank" rel="noopener"><i class="fab fa-instagram"></i></a>
            <!-- fa-brands fa-medium -->
            <a href="https://qeunit.medium.com/" target="_blank" rel="noopener"><i class="fab fa-medium"></i></a>
            <a href="https://www.youtube.com/channel/UCb6CZbfTeKYlB4RAONd8msg" target="_blank" rel="noopener"><i class="fab fa-youtube"></i></a>
            <!-- <a href="https://anchor.fm/s/66ffc4d4/podcast/rss" target="_blank" rel="noopener"><i class="fab fa-anchor"></i></a> -->
        </div>
    </div>
</div>