<h2>Our Partners</h2>
        
<!-- QE UNIT -->
<div class="s-container">
    <div class="profile-img">
        <a href="https://qeunit.com/" target="_blank">
            <img src="https://www.techexcellence.io/logo/qe_unit.png" alt="QE Unit" width="90" height="90" />
        </a>
    </div>
    <div class="text-container">
        <p class="p-date">
            <a href="https://qeunit.com/" target="_blank">QE Unit: The Quality Engineering Community</a>
        </p>
        <p>
            We are an extended community of practice dedicated to one thing: succeed with Quality at Speed software
        </p>
        <div class="social-media">
            <a href="https://www.linkedin.com/company/qe-unit/" target="_blank" rel="noopener"><i class="fab fa-linkedin"></i></a>
        </div>
    </div>
</div>