
<h2>Meetup Calendar for 2023</h2>

<!-- JC TODO add social media for speakers -->

{% for speaker in site.data.speakers.s2023 %}
    {% for member in site.members %}
        {% if speaker.i == member.i %}

<div class="s-container">
    <img src="{{ site.url }}/assets/img/{{ member.i }}.png" alt="{{ member.name }}" class="profile-img" width="100" height="100" style="margin-top: 2rem;" />
    <div class="text-container">
        <p class="p-date">{{ member.2023_date }}</p>
        <a href="{{ member.2023_link }}" target="_blank">{{ member.2023_title }}</a>
        <p>
            <a href="https://www.linkedin.com/in/valentinacupac/" target="_blank">{{ member.name }}</a>,
            {{ member.title }}, <em>{{ member.location }}</em>
        </p>
    </div>
</div>

        {% endif %}
    {% endfor %}
{% endfor %}

