<h2>Meetup Calendar for 2023</h2>

<!-- JC TODO add social media for speakers -->
        
<!-- VALENTINA -->
<div class="s-container">
    <img src="{{ site.url }}/assets/img/valentina_cupac.png" alt="valentina-cupac" class="profile-img" width="100" height="100" style="margin-top: 2rem;" />
    <div class="text-container">
        <p class="p-date">08 Feb 2023</p>
        <a target="_blank">TDD & Contract Testing in Microservice Architecture</a>
        <p>
            <a href="https://www.linkedin.com/in/valentinacupac/" target="_blank">Valentina Cupać</a>,
            Founder &amp; Technical Coach @ Optivem, <em>Belgrade, Serbia</em>
        </p>
    </div>
</div>

