<h2>Meetup Calendar for 2023</h2>

<!-- JC TODO add social media for speakers -->
        
<!-- VALENTINA -->
<div class="s-container">
    <img src="https://www.techexcellence.io/assets/img/valentina-cupac.png" alt="valentina-cupac" class="profile-img" width="100" height="100" style="margin-top: 2rem;" />
    <div class="text-container">
        <p class="p-date">30 Jun 2022</p>
        <a target="_blank">TDD & Clean Architecture - Transforming Legacy Applications</a>
        <p>
            <a href="https://www.linkedin.com/in/valentinacupac/" target="_blank">Valentina Cupać</a>,
            Founder &amp; Technical Coach @ Optivem, <em>Belgrade, Serbia</em>
        </p>
    </div>
</div>

