<h2>Our Sponsors</h2>
        
<!-- OPTIVEM -->
<div class="s-container">
    <div class="profile-img">
        <a href="http://optivem.com/" target="_blank">
            <img src="https://www.techexcellence.io/logo/optivem2.png" alt="Optivem" width="90" height="90" />
        </a>
    </div>
    <div class="text-container">
        <p class="p-date"><a href="http://optivem.com/" target="_blank">Optivem</a></p>
        <p>
            Better Software Faster: 
            Helping backend development teams deliver quality software faster with TDD, Clean Code &amp; Clean Architecture
        </p>
        <div class="social-media">
            <a href="https://www.linkedin.com/company/optivem" target="_blank" rel="noopener"><i class="fab fa-linkedin"></i></a>
        </div>
    </div>
</div>


