<h2>Our Organizers</h2>


{% assign team = site.data.team %}
{% for teamMember in team %}
    {% for member in site.members %}
        {% if member.i == teamMember.i %}

        <div class="s-container">
            <a href="{{ member.linkedin }}" target="_blank" rel="noopener">
                <img src="{{ site.url }}/assets/img/{{ member.i }}.png?v=2" alt="{{ member.name }}" class="profile-img" width="100" height="100" />
            </a>
            <div class="text-container">
                <p class="p-title">{{ member.name }} - {{ member.titleTE }} </p>
                <p class="p-about"> {{ member.about }}</p>
                <div class="social-media">
                    {% if member.linkedin %}
                        <a href="{{ member.linkedin }}" target="_blank" rel="noopener"><i class="fab fa-linkedin"></i></a>
                    {% endif %}
                    {% if member.twitter %}
                        <a href="{{ member.twitter }}" target="_blank" rel="noopener"><i class="fa-brands fa-x-twitter"></i></a>
                    {% endif %}
                    {% if member.github %}
                        <a href="{{ member.github }}" target="_blank" rel="noopener"><i class="fab fa-github"></i></a>
                    {% endif %}
                    {% if member.xing %}
                        <a href="{{ member.xing }}" target="_blank" rel="noopener"><i class="fab fa-xing"></i></a>
                    {% endif %}
                </div>
            </div>
        </div>

        {% endif %}
    {% endfor %}
{% endfor %}


