<h2>Vision</h2>

<div class="g-container">
    <p>
    </p>

    <div class="social-media-lg">
        <a href="https://www.meetup.com/techexcellence" target="_blank"><i class="fab fa-meetup"></i></a>
        <a href="https://www.youtube.com/c/TechExcellence" target="_blank"><i class="fab fa-youtube"></i></a>
        <a href="https://www.linkedin.com/company/techexcellenceio" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a href="https://twitter.com/techexcellence_" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
        <a href="https://github.com/techexcellenceio" target="_blank"><i class="fab fa-github"></i></a>
        <a href="https://discord.gg/KXdf4t4j2m" target="_blank"><i class="fa-brands fa-discord"></i></a>
    </div>
</div>


