<h2>Vision</h2>

<div class="s-container">
    <p>
        Our vision is to raise the bar of technical excellence across the world.
    </p>

    <div class="social-media">
        <a href="https://www.meetup.com/techexcellence" target="_blank"><i class="fab fa-meetup"></i></a>
        <a href="https://www.youtube.com/c/TechExcellence" target="_blank"><i class="fab fa-youtube"></i></a>
        <a href="https://www.linkedin.com/company/techexcellenceio" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a href="https://twitter.com/techexcellence_" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="https://github.com/techexcellenceio" target="_blank"><i class="fab fa-github"></i></a>
    </div>
</div>