#conf-main {
  .masthead {
    margin-top: 102px;
    background-color: #05191a;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 1.5rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
    @media (max-width: 575px){
      padding-bottom: 4rem;
    }
    .conference-promo {
      border-radius: 12px;
      display: inline-block;
      p {
        font-size: 3.5rem;
        font-weight: 700;
        color: white;
        color: #12dfef;
        text-shadow: 1px 1px 6px rgba(24, 24, 24, 0.4);
        line-height: 1.5;
        @media (min-width: 768px) {
          font-size: 3.75rem;
        }
      }
      br.br-1 {
          @media (min-width: 768px) {
              display: none;
          }
      }
      br.br-2 {
          @media (min-width: 576px) {
              display: none;
          }
      }
    }
    .dates {
        margin-top: 2rem;
        margin-bottom: 2.75rem;
        p {
            // background-color: #25b4bd;
            font-weight: 600;
            text-transform: uppercase;
            font-size: 1.5rem;
            color: white;
            color: #12dfef;
            display: inline-block;
            // padding: .35rem 1rem;
            padding: 0 .5rem;
            border-radius: 6px;
            // margin-right: .25rem;
            margin-bottom: .5rem;
            // box-shadow: 1px 1px 6px rgba(24, 24, 24, 0.4);
            // border: 2px solid #25b4bd;
            @media (min-width: 768px) {
              font-size: 1.75rem;
            }
        }
    }
  }
  .c-container {
    margin-right: auto;
    margin-left: auto;
    margin-top: 3.5rem;
    @media (max-width: 1120px) {
      max-width: 880px; 
    }
    @media (min-width: 576x){
        margin-top: 2rem;
    }
    .row {
      justify-content: center;
      padding-top: 1rem;
      @media (min-width: 576px){
          padding-top: 2rem;
      }
      .col, [class*="col-"] {
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 2.5rem;
        padding-left: 15px;
        padding-right: 15px;
        max-width: 184px;
        min-width: 184px;
      }
      img {
        border-radius: 50%;

      }
      .text-container {
        .p-name {
          font-size: 17px;
          font-weight: 600;
          margin-top: .5rem;
          margin-bottom: .25rem;
          a {
              color: #8573e5;
          }
          a:hover, a:active, a.active {
              color: #4d3bb3;
          }
        }
        .p-title {
          font-size: 13px;
          color:#9996b5;
        }
        .p-talk {
          font-size: 15px;
          color:#3f3a6d;
          font-weight: 700;
        }
        .p-date {
          font-size: 13px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 6px;
          span {
            font-size: 16px;
            margin-right: 2px;
          }
        }
      }
    }
  }

  .c-container {
    margin-right: auto;
    margin-left: auto;
    @media (min-width: 576x){
        margin-top: 2rem;
    }
    .row {
        justify-content: center;
        padding-top: 1rem;
        @media (min-width: 576px){
            padding-top: 2rem;
        }
    }
  }

  .lineup {
    .profile-img {
      padding-bottom: .5rem;
    }
    h1 {
      border-bottom: none;
      margin-top: 4rem;
      margin-bottom: 0rem;
      font-size: 2rem;
    }
    h2 {
      margin-top: 3rem;
      margin-bottom: 1rem;
      font-size: 1.5rem;
    }
    img {
      border-radius: 50%;
      border: 3px solid #58dbd578;
      box-sizing: content-box;
    }
    .s-container {
      &:first-of-type{
        margin-top: 2rem;
      }
      .text-container {
        .p-talk {
          @media (max-width: 575px){
            max-width: 360px;
            margin-right: auto;
            margin-left: auto;
          }
        }
        .p-name {
          display: inline-block;
          font-size: 16px;
          font-weight: 600;
          margin-top: .125rem;
          margin-bottom: .125rem;
          a {
              color: #2c2168;
          }
          a:hover, a:active, a.active {
              color: #4d3bb3;
          }
        }
        .p-title {
          display: inline-block;
          font-size: 13px;
          color:#9996b5;
          font-weight: 400;
        }
        .p-talk {
          font-size: 18px;
          color:#2db3c5;
          font-weight: 700;
        }
        .p-date {
          font-size: 13px;
          display: flex;
          margin-top: 6px;
          span {
            font-size: 16px;
            margin-right: 2px;
          }
        }
      }
      @media (max-width: 575px){
        text-align: center;
        .text-container {
          text-align: center;
          .p-date {
            justify-content: center;
          }
          .p-name {
            display: block;
            margin-bottom: 0rem;
          }
        }
      }
    }
  }

}
