.conference-pg {
    .masthead {
        margin-top: 102px;
        background-color: #05191a;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 1.5rem;
        padding-top: 6.75rem;
        padding-bottom: 6rem;
        padding-left: 24px;
        padding-right: 24px;
        @include media-breakpoint-down(sm) {
            padding-bottom: 3rem;
        }
        h1 {
            font-size: 3.5rem;
            font-weight: 700;
            color: #12dfef;
            text-shadow: 1px 1px 6px rgba(24, 24, 24, 0.4);
            line-height: 1.5;
            @include media-breakpoint-up(md) {
                font-size: 3.75rem;
            }
        }
        h2 {
            margin-top: 2rem;
            margin-bottom: 3.25rem;
            font-weight: 600;
            text-transform: uppercase;
            font-size: 1.5rem;
            color: white;
            color: #12dfef;
            padding: 0 0.5rem;
            border-radius: 6px;
            @include media-breakpoint-up(md) {
                font-size: 1.75rem;
            }
            span {
                margin: 0 0.75rem;
            }
        }
    }
    .container-lg {
        @media (min-width: 992px) {
            max-width: 1140px;
        }
        // KEEP?
        @media (max-width: 1120px) {
            max-width: 880px;
        }
        .row {
            row-gap: 2.5rem;
            .col,
            [class*="col-"] {
                min-width: 184px;
                max-width: 184px;
                &:hover {
                    .p-name {
                        color: #5107ff;
                    }
                }
            }
            img {
                border-radius: 50%;
            }
            .p-name {
                font-size: 17px;
                font-weight: 600;
                margin-top: 0.5rem;
                margin-bottom: 0.25rem;
                color: #8573e5;
            }
            .p-title {
                font-size: 13px;
                color: #9996b5;
            }
            .p-talk {
                font-size: 15px;
                color: #3f3a6d;
                font-weight: 700;
            }
            .p-date {
                font-size: 13px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 6px;
                color: #24292e;
                gap: 2px;
                span {
                    font-size: 16px;
                }
            }
        }
    }

    .container.lineup {
        display: flex;
        flex-direction: column;
        gap: 5rem;
        h3 {
            margin-bottom: 3rem;
        }
        @include media-breakpoint-down(sm) {
            h2, h3 {
                text-align: center;
            }
        }
        .anastasia-row {
            @include media-breakpoint-down(sm) {
                h2, h3 {
                    text-align: center;
                }
            }
            .anastasia-img {
                img {
                    border-radius: 50%;
                    border: 3px solid #58dbd578;
                    box-sizing: content-box;
                    &:hover, &:active, &.active {
                        border-color: #15e9deda;
                    }
                }
            }
            .anastasia-text {
                .p-talk {
                    @include media-breakpoint-down(sm) {
                        max-width: 360px;
                        margin-right: auto;
                        margin-left: auto;
                    }
                }
                .p-name {
                    display: inline-block;
                    font-size: 16px;
                    font-weight: 600;
                    margin-top: 0.125rem;
                    margin-bottom: 0.125rem;
                    a {
                        color: #2c2168;
                    }
                    a:hover, a:active, a.active {
                        color: #4d3bb3;
                    }
                }
                .p-title {
                    display: inline-block;
                    font-size: 13px;
                    color: #9996b5;
                    font-weight: 400;
                }
                .p-talk {
                    font-size: 18px;
                    color: #2db3c5;
                    font-weight: 700;
                }
                .p-date {
                    font-size: 13px;
                    display: flex;
                    margin-top: 6px;
                    span {
                        font-size: 16px;
                        margin-right: 2px;
                    }
                }
                @include media-breakpoint-down(sm) {
                    text-align: center;
                    .p-date {
                        justify-content: center;
                    }
                    .p-name {
                        display: block;
                        margin-bottom: 0rem;
                    }
                }
            }
        }
    }
}
