.footer {
    background-color: #05191a;
    color: white;
    // a {
    //   font-size: 14px;
    //   &:hover, &:active, &.active {
    //       color: #12dfef;
    //   }
    // }
    padding: 2rem 24px;
    margin-top: 4rem;
}
