#speakers-2022, #about, #sponsors, #partners, #network, #team {
    .s-container {
      &:first-of-type {
        .profile-img {
            margin-top: 1rem !important;
            margin-bottom: 1rem !important;
            // background-color: #2fb7b7;
        }
      }
    }
}

#speakers-2022, #about, #sponsors, #partners, #network, #team, #vision, #faq, #team {
    .s-container {
        &:first-of-type {
            margin-top: 1rem;
            @media (max-width: 567px){
            // @include media-breakpoint-down(xs) {
                margin-top: 2rem;
            }
            }
            &:last-of-type {
            margin-bottom: 4rem;
            @media (max-width: 567px){
            // @include media-breakpoint-down(xs) {
                margin-bottom: 4rem;
            }
            // background-color: pink;
        }
    }
}

.s-container {
    align-items: center;
    text-align: center;
        @media (min-width: 567px){
        // @include media-breakpoint-up(sm) {
            display: flex;
            text-align: left;
        }
    .text-container {
        margin-top: 0rem;
        text-align: left;
        .p-date {
            margin-bottom: .25rem !important;
            font-weight: 600;
        }
    }
}

.profile-img {
    margin-right: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    @media (max-width: 567px){
    // @include media-breakpoint-down(xs){
        margin-left: auto;
        margin-right: auto;
        margin-top: 4rem;
        margin-bottom: 1rem;
    }
}


.markdown-body p, p {
    margin-bottom: 0;
}

// -----------------

#vision {
    p {
        margin-bottom: 2rem;
    }
    .social-media a {
        .fab, .fas {
        font-size: 3rem;
        @media (max-width: 567px) {
            font-size: 2.5rem;
            margin-right: 1.75rem;
        }
        margin-right: 2rem;
        margin-bottom: 1rem;
        color: #43cece;
        &:hover {
                color: #2fb7b7;
                }
        }
        &:last-child{
            .fab, .fas{
                margin-right: 0;
            }
        }
    }
}


#sponsors, #partners, #network, #about {
    .s-container {
        @media (min-width: 567px) and (max-width: 786px){
        // @include media-breakpoint-only(sm) {
            margin-bottom: 2.5rem;
        }
    }
    .text-container{
        // text-align: center;
        max-width: 500px;
    }
    .profile-img {
        // text-align: left;
        padding-right: 10px;
        margin-top: 2.75rem; //2
        margin-bottom: 2.75rem; //2
        @media (max-width: 567px){
        // @include media-breakpoint-down(xs){
            margin-left: auto;
            margin-right: auto;
            margin-top: 4rem;
            margin-bottom: 1.5rem;
        }
    }
    .social-media {
        a {
            .fab, .fas {
                font-size: 1.75rem;
                margin-right: 1rem;
                margin-top: .75rem;
                color: #babfce;
                &:hover {
                    color: #4664ee;
                }
            }
        }
    }
}

#team {
    .p-title {
        margin-bottom: .25rem !important;
        font-weight: 600;
    }
    .p-about {
        max-width: 720px; // 660
    }
    .social-media {
        a {
            .fab, .fas {
                font-size: 1.75rem;
                margin-right: 1rem;
                margin-top: .75rem;
                color: #b6deea;
                &:hover {
                    color: #8fd2e9;
                }
            }
        }
    }
    .profile-img {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

#vision, #faq {
    .s-container {
        text-align: left;
        margin-top: 0 !important;
        display: block;
    }
}
    
.markdown-body img {
    max-width: none;
}
  
#masthead {
    img {
        max-width: 100%;
    }
}

// shadow? border around user?? or line below
#members {
    .name {
        margin-bottom: .25rem;
        font-weight: 600;
        font-size: 18px;
    }
    .title {
        font-size: 16px;
    }
    .about {
        font-size: 15px;
    }
    .location {
        font-size: 14px; 
        color: gray;
        margin-bottom: .25rem;
        margin-top: .25rem;
    }
    // p {
    //     display: flex;
    // }
    p.specialities span {
        background: #3e5495;
        color: white;
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 2px;
        padding-bottom: 2px;
        margin-top: 2px;
        margin-bottom: 2px;
        display: inline-block;
        font-size: 14px;
        border-radius: 6px;
    }
    .tech-stack {
        margin-top: .25rem;
    }
    .social-media a .fab, .social-media a .fa, .social-media a .fas {
        font-size: 1.25rem;
        margin-right: .75rem;
        margin-top: .75rem;
        color: #222631;
        &:hover {
            color: #4664ee;
        }
    }
}
