.s-container {
    &:first-of-type {
        margin-top: 1rem;
        @media (max-width: 567px){
        // @include media-breakpoint-down(xs) {
            margin-top: 2rem;
        }
    }
    &:last-of-type {
        margin-bottom: 4rem;
        @media (max-width: 567px){
        // @include media-breakpoint-down(xs) {
            margin-bottom: 4rem;
        }
    }
}

.s-container {
    align-items: center;
    text-align: center;
        @media (min-width: 567px){
        // @include media-breakpoint-up(sm) {
            display: flex;
            text-align: left;
        }
    .text-container {
        margin-top: 0rem;
        text-align: left;
        color: #263c50;
        font-size: 15px;
        .p-date {
            margin-bottom: .25rem !important;
            font-weight: 600;
            color: #24292e;
            font-size: 16px;
        }
        .p-title {
            font-weight: 600;
            font-size: 18px;
        }
    }
    .container-fixed {
        max-width: 500px;
    }
}

.container-fixed-2 {
    max-width: 800px;
}

.g-container {
    text-align: left;
    display: block;
    &:last-of-type {
        margin-bottom: 4rem;
        @media (max-width: 567px){
            margin-bottom: 4rem;
        }
    }
}


.img-c {
    display: flex;
    justify-content: center;
}

.profile-img {
    margin-right: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    @media (max-width: 567px){
    // @include media-breakpoint-down(xs){
        margin-left: .5rem;
        margin-right: 0.5rem;
        margin-top: 4rem;
        margin-bottom: 1rem;
    }
}

.s-container {
    &:first-of-type {
        .profile-img {
            margin-top: 1rem !important;
            margin-bottom: 1rem !important;
        }
    }
}

.network {
    .s-container {
        .row {
            margin-left: -15px;
            margin-right: -15px;
            justify-content: center;
            .col, [class*="col-"] {
                text-align: center;
                margin-bottom: 1rem;
                padding-left: 15px;
                padding-right: 15px;
                max-width: 200px;
                min-width: 200px;
                margin-left: 0rem;
                margin-right: 0rem;
                margin-top: 1.5rem;
            }
            img {
                min-width: 100%;
                max-width: 100%;
            }
        }
    }
}

.comp-img {
    padding-right: 10px;
}

.markdown-body p, p {
    margin-bottom: 0;
}

// -----------------

   
.markdown-body img {
    max-width: none;
}

a {
    color: #067799;
    text-decoration: none !important;
    &:hover {
        color: #0999c5;
    }
}


a.g-btn {
    background-color: rgb(225, 235, 236);
    padding: .5rem 2rem;
    border-radius: 50pt;
    &:hover {
        background-color: rgb(228, 240, 241);
    }
    display: inline-block;
    margin-bottom: .5rem;
}

#footer {
    margin-bottom: 2rem;
}

.conference-promo {
    background-color: #052426;
    padding: 18px 48px;
    border-radius: 12px;
    display: inline-block;
    font-size: 2rem;
    color: #12dfef;
    box-shadow: 2px 2px 20px rgba(23, 141, 147, 0.6);
}