
html, body {
    margin: 0;
    height: 100%;
}
p, ul, ol {
    margin-bottom: unset;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex: 1;
}
section {
    scroll-margin-top: 4rem; // anchor link
}
.container {
    @media (min-width: 992px) {
        // max-width: 960px;
    }
    @media (min-width: 1200px) {
        // max-width: 1140px;
        max-width: 988px;
    }
    @media (min-width: 1400px) {
        // max-width: 1140px;
        max-width: 988px;
    }
}

.container-lg {
    margin-top: 2rem;
    // margin-bottom: 2rem;
    @include media-breakpoint-down(sm) {
        margin-top: 1rem;
    }
}
.container, .container-lg {
    padding-top: 4rem;
    padding-bottom: 4rem;
    h2 {
        margin-bottom: 3rem;
    }
    h3 {
        margin-bottom: 1.5rem;
    }
    .row {
        justify-content: center;
        row-gap: 1rem;
        .col, [class*="col-"] {
            text-align: center;
        }
    }
    .an-container {
        display: flex;
        flex-direction: column;
        row-gap: 4rem;
        display: grid;
    }
    .an-row {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        @include media-breakpoint-up(sm) {
            flex-direction: row;
            align-items: center;
            gap: 1.5rem;
        }
        .an-img {
            max-width: calc(110px + 110px + 1rem); // 2 speakers
            // max-width: 236px;
            display: flex;
            align-items: center;
            gap: 1rem;
            @include media-breakpoint-up(sm) {
                flex-wrap: wrap;
            }
            flex: 0 0 auto; // not grow if extra space available, not shrink
        }
        .an-text {
            flex: 1 1 auto; // grow if extra space available, shrink if necessary
            display: inline-block;
            .p-date {
                // margin-top: .4rem;
                margin-bottom: .25rem;
                font-weight: 600;
                color: #24292e;
                font-size: 16px;
            }
            .p-title {
                font-weight: 600;
                font-size: 18px;
            }
            .p-speaker {
                color: #879093;
                font-size: 15px;
            }
            .p-about {
                max-width: 720px;
                margin-bottom: 0;
                color: #526980;
                font-size: 15px;
            }
        }
    }
    .p-fixed {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
    }
}

.simple-container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    .simple-row {
        // 
    }
}

.faq {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}



// -----------------------------

.network {
    .row {
        justify-content: center;
        // row-gap: 1rem;
        gap: 3rem 0rem;
        .col, [class*="col-"] {
            max-width: 190px; // 200px
            min-width: 190px; // 200px
        }
        img {
            min-width: 100%;
            max-width: 100%;
        }
    }
}

#meetups, .speakers {
    .an-row {
        @include media-breakpoint-down(sm) {
            gap: 0;
        }
    }
}

.team, .members-pg {
    @include media-breakpoint-down(sm) {
        .an-img {
            margin-left: .75rem;
        }
    }
}

#meetups, .about, .sponsors, .partners, .speakers, .lineup {
    .an-img {
        @include media-breakpoint-down(sm) {
            flex-wrap: wrap;
            margin-left: auto;
            margin-right: auto;
            justify-content: center;
        }
    }
}

.network-pg {
    @include media-breakpoint-up(sm) {
        .an-container{
            // row-gap: 3.5rem;
            .an-row {
                gap: 2rem;
             }
        }
    }
    @include media-breakpoint-down(sm) {
        .an-container {
            row-gap: 5rem;
            .an-row {
                gap: 1rem;
                .an-img {
                    margin-left: auto;
                    margin-right: auto;
                    justify-content: center;
                }
             }
        }
    }
}


// -----------------

a {
    color: #067799;
    &:hover {
        color: #0999c5;
    }
}


.gray-btn {
    background-color: rgb(225, 235, 236);
    padding: .5rem 2rem;
    border-radius: 50pt;
    &:hover {
        background-color: rgb(228, 240, 241);
    }
    display: inline-block;
    margin-bottom: .5rem;
}

.s-btn-group {
    display: flex;
    gap: 1rem;
    @include media-breakpoint-down(sm) {
        text-align: center;
        flex-direction: column;
        gap: 1.5rem;
        .s-btn {
            display: block;
        }
    }
}

.s-btn {
    background-color: rgb(216, 238, 241);
    padding: .5rem 2rem;
    border-radius: 50pt;
    &:hover {
        background-color: rgb(219, 249, 253);
    }
    display: inline-block;
}

.conf-btn {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1.5rem;
    background-color: #25b4bd;
    border: 1px solid #25b4bd;
    min-width: 240px;
    padding: .75rem 2.5rem;
    border-radius: 6px;
    margin: 0 .5rem;
    box-shadow: 1px 1px 6px rgba(24, 88, 97, 0.6);
    color: white;
    display: inline-block;
    &:hover, &:active, &.active {
      background-color: rgb(7, 216, 231);
      border-color: rgb(7, 216, 231);
      color: white;
    }
    @include media-breakpoint-down(sm){
        width: calc(100% - 24px);
        margin-right: 12px;
        margin-left: 12px;
        margin-bottom: 2rem;
    }
}

.conf-btn-2 {
    font-weight: 600;
    font-size: 1.25rem;
    border: 1px solid #25b4bd;
    color: #25b4bd;
    border-radius: 32px;
    padding: .25rem 1.75rem;
    margin-top: 2rem;
    display: inline-block;
    &:hover, &:active, &.active {
        color: rgb(7, 216, 231);
        border-color: rgb(7, 216, 231);
    }
    @include media-breakpoint-down(sm){
        width: calc(100% - 24px);
        margin-right: 12px;
        margin-left: 12px;
        margin-bottom: 2rem;
        margin-top: 0rem;
        padding: .5rem 1.75rem;
    }
}

// .conf-btn-secondary {
//     background-color: transparent;
//     color: white;
//     border: 2px solid rgba(21, 138, 146, 0.7);
//     box-shadow: none;
//     &:hover, &:active, &.active {
//         background-color: rgba(10, 107, 114, 0.7);
//         border-color: rgba(21, 138, 146, 0.7)
//       }
// }
a, a:hover, a:active, a.active {
    text-decoration: none;
}


