.team {
    .p-title {
        margin-bottom: .25rem !important;
        font-weight: 600;
        color: #263c50;
    }
    .social-media {
        a {
            .fab, .fas, .fa-brands {
                font-size: 1.75rem;
                margin-right: 1rem;
                margin-top: .75rem;
                color: #b6deea;
                &:hover {
                    color: #8fd2e9;
                }
            }
        }
    }
}
