.conference-home {
    background-color: #05191a;
    padding-top: 3.5rem;
    padding-bottom: 4rem;
    text-align: center;
    border: 3px solid #58dbd578;
    border-radius: 18px;
    max-width: 1240px;
    margin-right: auto;
    margin-left: auto;
    @media (max-width: 1600px) {
        max-width: 100%;
    }
    h1 {
        font-size: 3rem;
        font-weight: 800;
        color: #12dfef;
        line-height: 1.25;
    }
    h2 {
        color: white;
        font-weight: 500;
        text-transform: uppercase;
        font-size: 1.5rem;
        margin-top: 2rem;
        margin-bottom: 3rem;
        @include media-breakpoint-down(sm){
            margin-bottom: 3.5rem;
        }
        span {
            margin: 0 .75rem;
        }
    }
    .row {
        gap: 3rem 0rem;
        max-width: 1200px; // max 4 speakers on a row
        padding-top: 4.5rem;
        justify-content: center;
        margin-right: auto;
        margin-left: auto;
        // KEEP THIS
        @media (max-width: 1150px) {
            max-width: 895px;
        }
        .col, [class*="col-"] {
            max-width: 184px;
            min-width: 184px;
            .img-container {
                position: relative;
                display: inline-block;
                img {
                    border-radius: 50%;
                    border: 3px solid #052426;
                }
            }
            .img-container::before {
                content: '';
                position: absolute;
                inset: 3px;
                border: 2px solid rgb(58, 197, 190); // inner border
                border-radius: 50%; 
                box-sizing: border-box;
                pointer-events: none;
            }
            a {
                color: white;
                &:hover, &:active, &.active {
                    color: rgb(147, 243, 238);
                    .img-container::before {
                        border-color: rgb(1, 255, 242);
                    }
                }
            }
            .p-name {
                font-size: 17px;
                font-weight: 500;
                margin-top: .5rem;
                margin-bottom: .25rem;
            }
        }
    }
}

.container-lg.conference-home {
    // margin-top: 2rem;
    margin-bottom: 2rem;
}