.social-media-lg {
    display: flex;
    flex-wrap: wrap; // if row and column gap // flex-direction: column if row-gap
    gap: 1rem 2rem; // row gap, column gap
    @include media-breakpoint-down(sm){
        column-gap: 1.75rem;
        // row-gap: 
    }
    a {
        .fab, .fas, .fa-brands {
            font-size: 3rem;
            @include media-breakpoint-down(sm){
                font-size: 2.5rem;
            }
            color: #43cece;
            &:hover {
                color: #2fb7b7;
            }
        }
    }
}


.social-media {
    a {
        .fab, .fas, .fa-brands, .fa {
            font-size: 1.75rem;
            margin-right: 1rem;
            margin-top: .75rem;
            color: #babfce;
            &:hover {
                color: #4664ee;
            }
        }
        // only for partners & sponsors
        .fa-globe {
            font-size: 1.5rem;
        }
    }
}