.s-masthead {
    @media (max-width: 566px){
        min-height: 100vh;
    }
    @media (min-width: 567px) {
        min-height: 620px;
    }
    @media (min-width: 768px) {
        min-height: 420px;
    }
    @media (min-width: 1200px) {
        min-height: 520px;
    }
    margin-bottom: 2rem;
    background: radial-gradient(132.55% 86.57% at 80.5% 41.82%, #0A3B4C 0%, #06263A 100%);
    // background: url('/assets/tech_excellence_banner.png?v=2');
    .container {
        padding-right: 36px;
        padding-left: 36px;
        @media (min-width: 768px) {
            padding-right: 24px;
            padding-left: 24px;
        }
        @media (min-width: 1200px) {
            padding-right: 0;
            padding-left: 0;
        }
        img {
            width: 100%;
        }
        // background-color: pink;
    }
    display: flex;
    justify-content: center;
    align-items: center;
}


// .s-masthead picture img,
// .s-masthead img {
//     width: 50%;
//     height: auto; /* Maintain the aspect ratio */
// }