.s-masthead {
    margin-top: 4.5rem; //102px;
    margin-bottom: 2rem;
    // background: radial-gradient(132.55% 86.57% at 80.5% 41.82%, #0A3B4C 0%, #06263A 100%);
    background-color: #05191a;
    // background: url('/assets/tech_excellence_banner.png?v=2');
    display: flex;
    justify-content: center;
    align-items: center;
    .container {
        padding-right: 3rem;
        padding-left: 3rem;
        padding-top: 4.5rem;
        padding-bottom: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        @include media-breakpoint-between(sm,md){
        // @media (min-width: 576px) and (max-width: 767px) {
            padding-right: 5rem;
            padding-left: 5rem;
        }
        @include media-breakpoint-up(md){
            padding-right: 2rem;
            padding-left: 2rem;
        }
        @include media-breakpoint-up(xl){
            padding-right: 0;
            padding-left: 0;
        }
        img {
            max-width: 320px;
            width: 100%;
            @include media-breakpoint-up(md){
                max-width: 100%;
            }
            @include media-breakpoint-up(lg){
                max-width: 656px;
            }
            @include media-breakpoint-up(xl){
                max-width: 100%;
            }
        }
    }
}

.s-masthead-2 {
    @include media-breakpoint-down(xs){
        min-height: 400px;
    }
    @include media-breakpoint-up(sm){
        min-height: 400px;
    }
    @include media-breakpoint-up(md){
        min-height: 280px;
    }
    @include media-breakpoint-up(xl){
        min-height: 320px;
    }
    margin-top: 2.5rem; //102px;
    margin-bottom: 3rem;
    // background: radial-gradient(132.55% 86.57% at 80.5% 41.82%, #0A3B4C 0%, #06263A 100%);
    background-color: #05191a;
    display: flex;
    justify-content: center;
    align-items: center;
    .container {
        text-align: center;
        @include media-breakpoint-up(md){
            display: flex;
            justify-content: center;
            align-items: center;
        }
        img {
            max-width: 200px;
            @include media-breakpoint-up(md){
                max-width: 160px;
            }
            @include media-breakpoint-up(md){
                max-width: 200px;
            }
        }
        h1 {
            color: white;
            padding-top: 48px;
            font-size: 3rem;
            @include media-breakpoint-up(md){
                padding-top: 0;
                padding-left: 72px;
                font-size: 3.25rem;
            }
            @include media-breakpoint-up(xl){
                font-size: 3.5rem;
                padding-left: 84px;
            }
        }
    }
}
