.s-masthead {
    @media (max-width: 566px){
        // min-height: 100vh;
        // min-height: 420px;
    }
    @media (min-width: 576px) {
        // min-height: 420px;
        // max-height: 420px;
    }
    @media (min-width: 768px) {
        // min-height: 320px;
        // max-height: 320px;
    }
    @media (min-width: 1200px) {
        // min-height: 420px;
        // max-height: 420px;
    }
    margin-top: 4.5rem; //102px;
    margin-bottom: 2rem;
    // background: radial-gradient(132.55% 86.57% at 80.5% 41.82%, #0A3B4C 0%, #06263A 100%);
    background-color: #05191a;
    // background: url('/assets/tech_excellence_banner.png?v=2');
    display: flex;
    justify-content: center;
    align-items: center;
    .container {
        padding-right: 3rem;
        padding-left: 3rem;
        padding-top: 4.5rem;
        padding-bottom: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        @media (min-width: 576px) and (max-width: 767px) {
            padding-right: 5rem;
            padding-left: 5rem;
        }
        @media (min-width: 768px) {
            padding-right: 2rem;
            padding-left: 2rem;
        }
        @media (min-width: 1200px) {
            padding-right: 0;
            padding-left: 0;
        }
        img {
            max-width: 320px;
            width: 100%;
            @media (min-width: 768px){
                max-width: 100%;
            }
            @media (min-width: 992px){
                max-width: 656px;
            }
            @media (min-width: 1200px){
                // max-width: 656px;
                max-width: 100%;
            }
        }
    }
}

.s-masthead-2 {
    @media (max-width: 566px){
        min-height: 400px;
    }
    @media (min-width: 576px) {
        min-height: 400px;
    }
    @media (min-width: 768px) {
        min-height: 280px;
    }
    @media (min-width: 1200px) {
        min-height: 320px;
    }
    margin-top: 2.5rem; //102px;
    margin-bottom: 3rem;
    // background: radial-gradient(132.55% 86.57% at 80.5% 41.82%, #0A3B4C 0%, #06263A 100%);
    background-color: #05191a;
    display: flex;
    justify-content: center;
    align-items: center;
    .container {
        text-align: center;
        @media (min-width: 768px) {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        img {
            max-width: 200px;
            @media (min-width: 768px) {
                max-width: 160px;
            }
            @media (min-width: 768px) {
                max-width: 200px;
            }
        }
        h1 {
            color: white;
            padding-top: 48px;
            font-size: 3rem;
            @media (min-width: 768px) {
                padding-top: 0;
                padding-left: 72px;
                font-size: 3.25rem;
            }
            @media (min-width: 1200px) {
                font-size: 3.5rem;
                padding-left: 84px;
            }
        }
    }
}
