.members {
    .see-more {
        font-weight: 600;
        font-size: 20px;
        text-align: center;
        margin-top: 3rem;
    }
    .row {
        row-gap: 2rem;
        .col, [class*="col-"] {
            max-width: 160px;
            min-width: 160px;
        }
        .p-name {
            font-size: 14px;
            font-weight: 600;
            color:#485a5a;
            margin-top: .25rem;
        }
    }
}