#speakers-2022 {
    .text-container {
        color: #879093;
        .pending {
            color: #464748;
        }
    }
    a.s-btn {
        background-color: rgb(216, 238, 241);
        padding: .5rem 2rem;
        border-radius: 50pt;
        &:hover {
            background-color: rgb(219, 249, 253);
        }
        display: inline-block;
        margin-bottom: .5rem;
    }
}