<!doctype html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    <div class="container-lg px-3 my-5 markdown-body">
        <div id="masthead">
            {% include masthead.html %}
        </div>
        
        <div id="vision">
            {% include vision.html %}
        </div>
        
        <div id="speakers">
            {% include speakers2023.html %}
        </div>

        <div id="speakers">
            {% include speakers2024.html %}
        </div>

        <div id="speakers">
            {% include speaker-signup.html %}
        </div>

        <div id="speakers">
            {% include speakers2022.html %}
        </div>

        <div id="team">
            {% include team.html %}
        </div>

        <div id="community">
            {% include community.html %}
        </div>
        
        <div id="about">
            {% include about.html %}
        </div>
        
        <div id="sponsors">
            {% include sponsors.html %}
        </div>
        
        <div id="partners">
            {% include partners.html %}
        </div>
        
        <div class="network">
            {% include network.html %}
        </div>

        <div id="faq">
            {% include faq.html %}
        </div>

        <div id="ideas">
            {% include ideas.html %}
        </div>

        <div id="footer">
            {% include footer.html %}     
        </div>
        
        {% include scripts.html %}

    </div>
  </body>
</html>
