<!doctype html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>

    {% include navbar.html %}

    <header class="s-masthead">
      <div class="container">
  
        <picture>
            <!-- md -->
            <source media="(max-width: 768px)" srcset="/assets/banner-text-vert.svg" alt="Tech Excellence">
            <!-- largest -->
            <img src="/assets/banner-text.svg" alt="Tech Excellence" />
        </picture>
  
      </div>
    </header>

    <!-- container-lg -->
    <div class="markdown-body">

        {{ content }}

    </div>

    {% include footer.html %}     

    {% include scripts.html %}

  </body>
</html>
