<!doctype html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>

    {% include navbar.html %}

    <header class="s-masthead-2">
      <div class="container">
        <img src="/assets/banner-text-1.svg" alt="Tech Excellence"> 
        <h1>Meetups {{ page.year }} </h1>
      </div>
    </header>
    <div class="container-lg markdown-body">
        
        <!-- SPEAKERS -->
        <div class="speakers">
            {{ content }}
        </div>

        <div id="footer">
            {% include footer.html %}     
        </div>

    </div>
    
    {% include scripts.html %}

  </body>
</html>
